body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

.container {
  width: 90%;
  max-width: 500px;
  margin: 30px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

h2 {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

input {
  width: 60px;
  padding: 5px;
}
